form {
  & h2 {
    font: var(--heading-md);
    color: var(--text-heading);
  }
  
  & fieldset {
    font: var(--heading-sm);
    color: var(--text-heading);
  
  }
  
  & fieldset + fieldset {
    margin-bottom: 4rem;
  }
  
  & label {
    font: var(--body-sm);
    margin-bottom: 1.2rem;
    color: var(--text-body);
  }

  & input {
    width: 100%;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    padding-left: 1.6rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
  }
}



