#app {
  display: grid;
  grid-template-columns: 40rem 2fr;

  height: 100vh;
  overflow: hidden;
  column-gap: 2rem;
  padding: 2rem;
}


main {
  overflow: auto;
  background-color: var(--shape-body);
}

.brand {
  border-radius: 1.2rem;
  background: url(../assets/images/Background.png) no-repeat center center;
  background-size: cover;
}